@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    background-image: linear-gradient(to right top, #ad4444 0%, #db3434 100%);
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 125px;
}

nav {
    mask-image: linear-gradient(90deg, black 0%, black 25%, black 75%, black 100%);
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.3) 75%, rgba(255, 255, 255, 0) 100%);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 10px 35px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
    font-family: "Montserrat";
    text-transform: uppercase;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 0, 128, 0.6);
    background: rgba(255, 95, 95, 0.591);

    color: rgb(0, 0, 0);
}


#content {
    text-align: center;
    padding-top: 30px;
    color: white;

}

#content img{
    width: auto;
    height: 400px;
}


@media only screen and (max-width: 600px) {
    nav{
        width: 100%;
        text-align: center;
        justify-content: center;
    }


    #content img{
        width: 100%;
        height: auto;
    }
  }








.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.3) 75%, rgba(255, 255, 255, 0) 100%);
}

.footer ul li {
    display: inline-block;
}

.footer a {
    padding: 10px 35px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
    font-family: "Montserrat";
    text-transform: uppercase;
    display: block;
}

.footer p {
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
    font-family: "Montserrat";
    text-transform: uppercase;
    display: block;
}

.footer a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 0, 128, 0.6);
    background: rgba(255, 95, 95, 0.591);
    color: rgb(0, 0, 0);
}

.footer li:hover~li p {
    animation: wave-animation 0.3s infinite;
}

.footer div {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #002a38;
    line-height: 1.3;
    font-family: Menlo, monospace;
}